.main-nav {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;	
        @media (max-width: 990px) {
            flex-direction: column;
        }
    }
    &__item {
        padding-right: 30px;
        &--last {
            padding-right: 0;
        }
        @media (max-width: 990px) {
            padding-right: 0;
            padding-bottom: 25px;
        }
    }
    &__link {
        color: $third-color;
        text-decoration: none;
        @media (max-width: 990px) {
            font-size: 24px;
            line-height: 36px;
        }
        &--accent {
            text-transform: uppercase;
            color:#F46780;
        }
        &--active {
            color: #fff;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
        }
    }
}